nicotine icons/LICENSE.md
nicotine icons/LICENSE-1.md
nicotine icons/go-up-symbolic.svg
nicotine icons/go-down-symbolic.svg
nicotine icons/go-up-symbolic-1.svg
nicotine icons/starred-symbolic.svg
nicotine icons/tab-new-symbolic.svg
nicotine icons/edit-redo-symbolic.svg
nicotine icons/edit-undo-symbolic.svg
nicotine icons/go-down-symbolic-1.svg
nicotine icons/mail-send-symbolic.svg
nicotine icons/starred-symbolic-1.svg
nicotine icons/edit-redo-symbolic-1.svg
nicotine icons/edit-undo-symbolic-1.svg
nicotine icons/insert-link-symbolic.svg
nicotine icons/insert-text-symbolic.svg
nicotine icons/mail-send-symbolic-1.svg
nicotine icons/mail-unread-symbolic.svg
nicotine icons/media-floppy-symbolic.svg
nicotine icons/system-users-symbolic.svg
nicotine icons/view-restore-symbolic.svg
nicotine icons/document-edit-symbolic.svg
nicotine icons/emblem-shared-symbolic.svg
nicotine icons/external-link-symbolic.svg
nicotine icons/insert-link-symbolic-1.svg
nicotine icons/insert-text-symbolic-1.svg
nicotine icons/mail-unread-symbolic-1.svg
nicotine icons/mark-location-symbolic.svg
nicotine icons/network-wired-symbolic.svg
nicotine icons/notifications-symbolic.svg
nicotine icons/avatar-default-symbolic.svg
nicotine icons/emblem-default-symbolic.svg
nicotine icons/input-keyboard-symbolic.svg
nicotine icons/media-floppy-symbolic-1.svg
nicotine icons/system-users-symbolic-1.svg
nicotine icons/user-available-symbolic.svg
nicotine icons/view-restore-symbolic-1.svg
nicotine icons/document-edit-symbolic-1.svg
nicotine icons/emblem-shared-symbolic-1.svg
nicotine icons/external-link-symbolic-1.svg
nicotine icons/mark-location-symbolic-1.svg
nicotine icons/network-offline-symbolic.svg
nicotine icons/system-shutdown-symbolic.svg
nicotine icons/view-fullscreen-symbolic.svg
nicotine icons/avatar-default-symbolic-1.svg
nicotine icons/emblem-default-symbolic-1.svg
nicotine icons/emblem-documents-symbolic.svg
nicotine icons/network-wireless-symbolic.svg
nicotine icons/user-available-symbolic-1.svg
nicotine icons/edit-find-replace-symbolic.svg
nicotine icons/nplus-status-away-symbolic.svg
nicotine icons/nplus-tab-changed-symbolic.svg
nicotine icons/org.nicotine_plus.Nicotine.png
nicotine icons/org.nicotine_plus.Nicotine.svg
nicotine icons/package-x-generic-symbolic.svg
nicotine icons/system-shutdown-symbolic-1.svg
nicotine icons/view-fullscreen-symbolic-1.svg
nicotine icons/x-office-document-symbolic.svg
nicotine icons/action-unavailable-symbolic.svg
nicotine icons/emblem-documents-symbolic-1.svg
nicotine icons/network-wireless-symbolic-1.svg
nicotine icons/sidebar-show-right-symbolic.svg
nicotine icons/application-x-addon-symbolic.svg
nicotine icons/applications-system-symbolic.svg
nicotine icons/edit-find-replace-symbolic-1.svg
nicotine icons/nplus-status-away-symbolic-1.svg
nicotine icons/nplus-status-away-symbolic-2.svg
nicotine icons/nplus-tab-changed-symbolic-1.svg
nicotine icons/nplus-tab-changed-symbolic-2.svg
nicotine icons/nplus-tab-highlight-symbolic.svg
nicotine icons/org.nicotine_plus.Nicotine-1.png
nicotine icons/org.nicotine_plus.Nicotine-1.svg
nicotine icons/org.nicotine_plus.Nicotine-2.png
nicotine icons/org.nicotine_plus.Nicotine-2.svg
nicotine icons/org.nicotine_plus.Nicotine-3.png
nicotine icons/org.nicotine_plus.Nicotine-3.svg
nicotine icons/org.nicotine_plus.Nicotine-4.png
nicotine icons/org.nicotine_plus.Nicotine-4.svg
nicotine icons/org.nicotine_plus.Nicotine-5.png
nicotine icons/org.nicotine_plus.Nicotine-5.svg
nicotine icons/org.nicotine_plus.Nicotine-6.png
nicotine icons/org.nicotine_plus.Nicotine-6.svg
nicotine icons/org.nicotine_plus.Nicotine-7.png
nicotine icons/org.nicotine_plus.Nicotine-7.svg
nicotine icons/org.nicotine_plus.Nicotine-8.png
nicotine icons/org.nicotine_plus.Nicotine-8.svg
nicotine icons/org.nicotine_plus.Nicotine-9.png
nicotine icons/org.nicotine_plus.Nicotine-9.svg
nicotine icons/package-x-generic-symbolic-1.svg
nicotine icons/x-office-document-symbolic-1.svg
nicotine icons/action-unavailable-symbolic-1.svg
nicotine icons/nplus-status-offline-symbolic.svg
nicotine icons/org.nicotine_plus.Nicotine-10.png
nicotine icons/org.nicotine_plus.Nicotine-10.svg
nicotine icons/org.nicotine_plus.Nicotine-11.png
nicotine icons/org.nicotine_plus.Nicotine-11.svg
nicotine icons/org.nicotine_plus.Nicotine-12.png
nicotine icons/org.nicotine_plus.Nicotine-12.svg
nicotine icons/org.nicotine_plus.Nicotine-13.png
nicotine icons/org.nicotine_plus.Nicotine-13.svg
nicotine icons/org.nicotine_plus.Nicotine-14.png
nicotine icons/org.nicotine_plus.Nicotine-14.svg
nicotine icons/org.nicotine_plus.Nicotine-15.png
nicotine icons/org.nicotine_plus.Nicotine-15.svg
nicotine icons/org.nicotine_plus.Nicotine-16.png
nicotine icons/org.nicotine_plus.Nicotine-16.svg
nicotine icons/org.nicotine_plus.Nicotine-17.png
nicotine icons/org.nicotine_plus.Nicotine-17.svg
nicotine icons/org.nicotine_plus.Nicotine-18.png
nicotine icons/org.nicotine_plus.Nicotine-18.svg
nicotine icons/org.nicotine_plus.Nicotine-19.png
nicotine icons/org.nicotine_plus.Nicotine-19.svg
nicotine icons/org.nicotine_plus.Nicotine-20.png
nicotine icons/org.nicotine_plus.Nicotine-20.svg
nicotine icons/org.nicotine_plus.Nicotine-21.png
nicotine icons/org.nicotine_plus.Nicotine-21.svg
nicotine icons/org.nicotine_plus.Nicotine-22.png
nicotine icons/org.nicotine_plus.Nicotine-22.svg
nicotine icons/org.nicotine_plus.Nicotine-23.png
nicotine icons/org.nicotine_plus.Nicotine-23.svg
nicotine icons/org.nicotine_plus.Nicotine-24.png
nicotine icons/org.nicotine_plus.Nicotine-24.svg
nicotine icons/org.nicotine_plus.Nicotine-25.png
nicotine icons/org.nicotine_plus.Nicotine-25.svg
nicotine icons/org.nicotine_plus.Nicotine-26.png
nicotine icons/org.nicotine_plus.Nicotine-26.svg
nicotine icons/org.nicotine_plus.Nicotine-27.png
nicotine icons/org.nicotine_plus.Nicotine-27.svg
nicotine icons/org.nicotine_plus.Nicotine-28.svg
nicotine icons/org.nicotine_plus.Nicotine-29.svg
nicotine icons/org.nicotine_plus.Nicotine-30.svg
nicotine icons/application-x-addon-symbolic-1.svg
nicotine icons/nplus-tab-highlight-symbolic-1.svg
nicotine icons/nplus-tab-highlight-symbolic-2.svg
nicotine icons/org.nicotine_plus.Nicotine-msg.svg
nicotine icons/nplus-status-available-symbolic.svg
nicotine icons/nplus-status-offline-symbolic-1.svg
nicotine icons/nplus-status-offline-symbolic-2.svg
nicotine icons/org.nicotine_plus.Nicotine-away.svg
nicotine icons/org.nicotine_plus.Nicotine-msg-1.svg
nicotine icons/org.nicotine_plus.Nicotine-msg-2.svg
nicotine icons/nplus-status-available-symbolic-1.svg
nicotine icons/nplus-status-available-symbolic-2.svg
nicotine icons/org.nicotine_plus.Nicotine-away-1.svg
nicotine icons/org.nicotine_plus.Nicotine-away-2.svg
nicotine icons/org.nicotine_plus.Nicotine-connect.svg
nicotine icons/org.nicotine_plus.Nicotine.png.license
nicotine icons/org.nicotine_plus.Nicotine-symbolic.svg
nicotine icons/org.nicotine_plus.Nicotine-connect-1.svg
nicotine icons/org.nicotine_plus.Nicotine-connect-2.svg
nicotine icons/org.nicotine_plus.Nicotine.png-1.license
nicotine icons/org.nicotine_plus.Nicotine.png-2.license
nicotine icons/org.nicotine_plus.Nicotine.png-3.license
nicotine icons/org.nicotine_plus.Nicotine.png-4.license
nicotine icons/org.nicotine_plus.Nicotine.png-5.license
nicotine icons/org.nicotine_plus.Nicotine.png-6.license
nicotine icons/org.nicotine_plus.Nicotine.png-7.license
nicotine icons/org.nicotine_plus.Nicotine.png-8.license
nicotine icons/org.nicotine_plus.Nicotine.png-9.license
nicotine icons/microphone-sensitivity-muted-symbolic.svg
nicotine icons/org.nicotine_plus.Nicotine-disconnect.svg
nicotine icons/org.nicotine_plus.Nicotine-symbolic-1.svg
nicotine icons/org.nicotine_plus.Nicotine.png-10.license
nicotine icons/org.nicotine_plus.Nicotine.png-11.license
nicotine icons/org.nicotine_plus.Nicotine.png-12.license
nicotine icons/org.nicotine_plus.Nicotine.png-13.license
nicotine icons/microphone-sensitivity-muted-symbolic-1.svg
nicotine icons/org.nicotine_plus.Nicotine-disconnect-1.svg
nicotine icons/org.nicotine_plus.Nicotine-disconnect-2.svg
NIC AI INSTRUCITONS/bot instructions.md
NIC AI INSTRUCITONS/chatwatcher knowledge.md
NIC AI INSTRUCITONS/Nicotine-plugin-knowledge.md
NIC AI INSTRUCITONS/Other plugins examples/keybinds/__init__.py
NIC AI INSTRUCITONS/Other plugins examples/keybinds/__pycache__/__init__.cpython-312.pyc
NIC AI INSTRUCITONS/Other plugins examples/keybinds/PLUGININFO
NIC AI INSTRUCITONS/Other plugins examples/keybinds/README.md
NIC AI INSTRUCITONS/Other plugins examples/theme_customizer/__init__.py
NIC AI INSTRUCITONS/Other plugins examples/theme_customizer/__pycache__/__init__.cpython-312.pyc
NIC AI INSTRUCITONS/Other plugins examples/theme_customizer/__pycache__/__init__.cpython-313.pyc
NIC AI INSTRUCITONS/Other plugins examples/theme_customizer/PLUGININFO
NIC AI INSTRUCITONS/Other plugins examples/theme_customizer/readme.md
NIC AI INSTRUCITONS/Other plugins examples/userlistdrawer/__init__.py
NIC AI INSTRUCITONS/Other plugins examples/userlistdrawer/__pycache__/__init__.cpython-312.pyc
NIC AI INSTRUCITONS/Other plugins examples/userlistdrawer/PLUGININFO
NIC AI INSTRUCITONS/Other plugins examples/userlistdrawer/readme.md
NIC AI INSTRUCITONS/README.md
NIC AI INSTRUCITONS/requirements.txt
NIC AI INSTRUCITONS/userwantstoshow/CCHATWATCHER PANE LAYOUT.png
NIC AI INSTRUCITONS/userwantstoshow/Current keywords pane.png
NIC AI INSTRUCITONS/userwantstoshow/Current played pane.png
NIC AI INSTRUCITONS/userwantstoshow/Current shitlist pane.png
ai instructions/userwantstoshow/Current shitlist pane.png
ai instructions/userwantstoshow/Current played pane.png
ai instructions/userwantstoshow/Current keywords pane.png
ai instructions/userwantstoshow/CCHATWATCHER PANE LAYOUT.png
ai instructions/requirements.txt
ai instructions/README.md
ai instructions/Other plugins examples/userlistdrawer/readme.md
ai instructions/Other plugins examples/userlistdrawer/PLUGININFO
ai instructions/Other plugins examples/userlistdrawer/__pycache__/__init__.cpython-312.pyc
ai instructions/Other plugins examples/userlistdrawer/__init__.py
ai instructions/Other plugins examples/theme_customizer/readme.md
ai instructions/Other plugins examples/theme_customizer/PLUGININFO
ai instructions/Other plugins examples/theme_customizer/__pycache__/__init__.cpython-313.pyc
ai instructions/Other plugins examples/theme_customizer/__pycache__/__init__.cpython-312.pyc
ai instructions/Other plugins examples/theme_customizer/__init__.py
ai instructions/Other plugins examples/keybinds/README.md
ai instructions/Other plugins examples/keybinds/PLUGININFO
ai instructions/Other plugins examples/keybinds/__pycache__/__init__.cpython-312.pyc
ai instructions/Other plugins examples/keybinds/__init__.py
ai instructions/Nicotine-plugin-knowledge.md
ai instructions/chatwatcher knowledge.md
ai instructions/bot instructions.md
